:host {
    max-width: 100%;
    flex-grow: 1;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.parent-section {
    padding: .5rem;
    overflow: scroll;
}

.seats {
    width: fit-content;
    padding: 7.5rem 1rem 1rem;
    background-image: url("../../assets/icon/screen.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;

    &_row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
