<div>
    <section>
        <div class="loading" *ngIf="map.isFetching$ | async">در حال دریافت اطلاعات</div>
        <div class="error" *ngIf="map.isError$ | async">
            <p>خطا در دریافت اطلاعات</p>
            <button (click)="map.update()">تلاش مجدد</button>
        </div>
        <ng-container *ngIf="map.isSuccess$ | async">
            <a *ngFor="let item of map.data$ | async;index as index" [routerLink]="['map',item]">
                <span>{{ index + 1 }} سالن </span>
            </a>
        </ng-container>
    </section>
</div>
